* {
  font-size: 10px;
}

table {
  --label-width: 200px;
  --bobot-width: 100%;
}

table td,
table th {
  line-height: 8px;
  z-index: 1;
}

table .fixed-col {
  position: sticky;
  left: 0;
  top: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 2;
}

table .col-detail-label {
  border-bottom: 0;
  width: 25%;
}

table .col-detail-label .label {
  padding: 0.5rem;
  width: var(--label-width);
  text-align: left;
}

table .col-detail-bobot {
  left: 25%;
  width: 18%;
}

table .col-detail-bobot .label {
  padding: 0.5rem;
  width: var(--bobot-width);
}

table .col-bobot {
  vertical-align: middle;
}

table .col-bobot .label {
  padding: 0.5rem;
  width: calc(var(--bobot-width) + var(--label-width));
}
