* {
  font-size: 10px;
}

table {
  --label-col-width: 400px;
  --bobot-col-width: 100px;

  table-layout: fixed;
  height: 100%;
}

table td,
table th {
  line-height: 8px;
  z-index: 1;
}

table .fixed-col {
  position: sticky;
  left: 0;
  top: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 2;
}

table th.col-detail-label {
  border-bottom: 0;
  width: var(--label-col-width);
}

table .col-detail-label .label {
  padding: 0.5rem;
  width: var(--label-col-width);
  text-align: left;
}

table .col-detail-bobot {
  width: var(--bobot-col-width);
  left: var(--label-col-width);
}

table .col-detail-bobot .label {
  padding: 0.5rem;
  width: var(--bobot-col-width);
}

table .col-bobot {
  vertical-align: middle;
}

table .col-bobot .label {
  padding: 0.5rem;
}

.grid-template {
  padding: 0 !important;
  vertical-align: middle;
}
.grid-template tr {
  height: 100%;
}

.grid-template th:not(:last-child) {
  padding: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.grid-template td:not(:last-child) {
  padding: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
